<section style="margin-bottom: 1em">
    <p>
        The Transaction Authorization Protocol (TAP) is a decentralized protocol
        allowing multiple participants in real-world transactions to identify
        each other and collaborate with the goal of authorizing the transactions
        safely.
    </p>

    <p></p>
    Please read the
    <a href="https://hubs.ly/Q03BPp1k0" title="TAP https://hubs.ly/Q03FRgly0"
        >TAP https://hubs.ly/Q03FRgly0</a
    >
    for more context.
</section>
